.movies__movie {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	width: 48%;
	padding: 20px;
	border: 1px solid #444;
	margin-bottom: 30px;
	transition: background 0.3s linear;
}

.movies__movie:nth-last-of-type(1),
.movies__movie:nth-last-of-type(2) {
	margin-bottom: 0;
}

.movies__movie:hover {
	background: #fff;
}

.movie__poster {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 170px;
	padding: 5px;
	border: 1px solid #444;
}
.movie__poster > img {
	width: 100%;
}

.movie__data {
	flex: 2;
	margin-left: 20px;
}

.movie__title {
	width: 100%;
	font-size: 1.2rem;
	font-weight: 500;
}

.movie__year {
	font-weight: 400;
}

.genres {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.genres__genre {
	list-style: none;
	font-size: 0.8rem;
}

.genres__genre:not(:last-child)::after {
	content: '|';
	margin: 0 5px;
}

.movie__summary {
	margin-top: 20px;
	/* display: -webkit-box;
	word-wrap: break-word;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis; */
	/* height:54px; */
}
